<header>
<a href="{% url 'home' %}">HOME</a>    
<a href="{% url 'post_new' %}">New</a>  
</header>

{% if user.is_authenticated %}
    <p>Hi {{user.username}}</p>
    <p><a href="{% url 'logout'%}">logout</a></p>
{% else%}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% block content %}
{% endblock %}