<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.htm'%}

    {% block content %}
    <h1>Все статьи</h1>

    {% for post in object_list %}
    <div>
        <h2><a href="{% url 'post_detail' post.pk %}">{{post.title}}</a></h2>
        <p>{{post.body}}</p>
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>