{% extends 'base.htm' %}

{% block content %}
    <h1>Delete post</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{post.title}}
        <p>Удалить статью?</p>
        <input type="submit" value="Confirm">
    </form>


{% endblock %}